<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
        euismod metus vehicula, facilisis lacus vitae, sollicitudin nunc.
        Aliquam gravida eros nibh, id semper velit pharetra eu. Vestibulum
        consectetur nulla at sapien ullamcorper ultricies. Praesent nec sodales
        velit. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos. Mauris aliquam mattis dui, et luctus
        erat feugiat in.
      </p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li><i class="fa-solid fa-envelope"></i>carv@carv.com</li>
        <li><i class="fa-solid fa-phone"></i>(22)1111-1111</li>
        <li><i class="fa-brands fa-whatsapp"></i>(22)2222-2222</li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; Todos os direitos reservados.
  </section>
</footer>
