<h2 class="contact__title">Entre em contato</h2>
<section class="contact__container">
  <form class="contact__form">
    <input type="text" placeholder="Digite o seu nome" />
    <input type="assunto" placeholder="Digite o assunto" />
    <input type="tel" placeholder="(00) 0 0000-0000" />
    <input type="email" placeholder="Digite o seu email" />
    <textarea
      maxlength="300"
      placeholder="Digite o motivo do seu contato"
    ></textarea>
    <button>Enviar</button>
  </form>
  <address>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15875.060560195416!2d-35.1798694!3d-5.8885868!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7f6b51e05a547e79!2sEst%C3%A1dio%20Maria%20Lamas%20Farache%20-%20FRASQUEIR%C3%83O!5e0!3m2!1spt-BR!2sbr!4v1658706375449!5m2!1spt-BR!2sbr"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <p>
      Av. Dep. Antônio Florêncio de Queiroz, S/n - Ponta Negra, Natal - RN,
      59018-500
    </p>
  </address>
</section>
